[submodule "libft"]
	path = libft
	url = https://github.com/BWG31/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/BWG31/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/BWG31/get_next_line.git
[submodule "FdF"]
	path = FdF
	url = https://github.com/BWG31/FdF.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/BWG31/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/BWG31/minitalk.git
[submodule "Philosophers"]
	path = Philosophers
	url = https://github.com/BWG31/Philosophers.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/BWG31/minishell.git
